@model TDT642

@{
    ViewData["Title"] = "Index";
}

<h1>đây là kết quả từ view khi trả về :</h1>
<form asp = ""></form>
<label>nhập Id </label>
<input type="text" name="Id">
<label>nhập tên  </label>
<input type="text" name="Name">
<label> nhập ngày </label>
<input type="text" name="Day">